<div class="container">
  <div class="loginBOX padding-side widthFull">
    <div class="loginTitle m-5 widthFull">
        <h4>로그인</h4>
    </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs padding-side widthFull">
      <%= f.input :email, required: true, autofocus: true,label: false,placeholder: "EMAIL" %>
      <%= f.input :password, required: false,label:false,placeholder: "PASSWORD" %>
    </div>
    <div class="form-actions padding-side widthFull">
      <div class="passwordPasswoldButton">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "비밀번호 찾기", new_password_path(resource_name) %><br />
        <% end -%>
      </div>
      <div class="loginButton">
        <%= f.button :submit, "로그인" %>
      </div>
      

    </div>

    <div class="signOther mt-4">
        <div class="SignUpButton">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "회원가입", new_registration_path(resource_name) %><br />
          <% end -%>
        </div>
        <div class="FacebookLoginButton">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "#{OmniAuth::Utils.camelize(provider)} 로그인", omniauth_authorize_path(resource_name, provider) %><br />
            <% end -%>
          <% end -%>
        </div>
    </div>
  


  <% end %>


  </div>
</div>
<style>
  a {
    font-size: 0.8rem;
  }
</style>