<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :board_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :board_content %>
  </div>

  <div class="field">
    <%= form.label :startBook %>
    <%= form.text_field :startBook, id: :board_startBook %>
  </div>

  <div class="field">
    <%= form.label :startChapter %>
    <%= form.text_field :startChapter, id: :board_startChapter %>
  </div>

  <div class="field">
    <%= form.label :startVerse %>
    <%= form.text_field :startVerse, id: :board_startVerse %>
  </div>

  <div class="field">
    <%= form.label :endBook %>
    <%= form.text_field :endBook, id: :board_endBook %>
  </div>

  <div class="field">
    <%= form.label :endChapter %>
    <%= form.text_field :endChapter, id: :board_endChapter %>
  </div>

  <div class="field">
    <%= form.label :endVerse %>
    <%= form.text_field :endVerse, id: :board_endVerse %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
