<%= render '/layouts/header' %>
<div class="header_footer">
  <div class="boardListBOX">
    <% if @boards.empty? %>
      <div class="emptyBoardList">
        아직 
        하나님의 말씀이 
        없어요
      </div>
    <% end %>
    <% @boards.each do |p| %>
      <div class="boardList moveDetailPage widthFull" id="<%=p.id%>" style=" background: url(<%=p.randomPhotoBackground%>) no-repeat center; background:covers;">
        <div class="boardListHeader">
         <%=p.created_at.to_s[0..10]%>
        </div>
        <div class="boardListContent">
          <div class="padding-side">"<%=p.title %>"</div>
        </div>
        <div class="boardListFooter">
            <%= BoardsHelper.readBibleFromTo(p) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render '/layouts/create_footer' %>
<style>
  .boardListBOX {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .container {
    justify-content: flex-start;

  }
  .emptyBoardList {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boardList {
    height: 33.3%;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-weight: 200;
    color:white;

  }
  .boardListHeader {

    display: flex;
    justify-content: center;
    font-size: 13px;
  }
  .boardListContent {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
  }
  .boardListFooter {
    display: flex;
 
    align-items: flex-end;
    justify-content: center;
    font-size: 13px;
  }
</style>
<script>
  $(".moveDetailPage").click(function(){
    movepage = "boards/"+ $(this)[0].id;
    $(location).attr('href',movepage);
  })
</script>
