<%= render '/layouts/show_header' %>
<div class="container">            
  <div class="showBOX padding-side widthFull">
    <div class="show showTitle m-3">
      <%=@board.title %>
    </div>
    <div class="show showContent m-3">
      <%= @board.content %>
    </div>
    <div class="show showDate m-3">
      <%= BoardsHelper.registerBoardTime(@board) %><br>
      <%= BoardsHelper.readBibleFromTo(@board) %>
    </div>
</div>

<style>
.container {
  height: 90%;
}
.showBOX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  border: 1px solid #c5c5c5;
}
</style>