
<%= render '/layouts/show_header' %>
<div class="header padding-side swiper-container" >
 <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide padding-side">
        <div class="showData">
         <div class="show showContent m-2"> 
            <%= simple_format(BoardsHelper.bibleContent(@board),class: "bible") %>
          </div>
          <div class="show showDate m-2">
            <%= BoardsHelper.readBibleFromTo(@board) %>
          </div>
        </div>
      </div>
      <div class="swiper-slide padding-side">
        <div class="padding-side widthFull">
          <div class="show showContent m-2">
            <%= simple_format(@board.content,class: "content") %>
          </div>
          <div class="show showDate m-2">
            <%= BoardsHelper.registerBoardTime(@board) %><br>
            <%= BoardsHelper.readBibleFromTo(@board) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
  
  showDataHeight = $(".showData")[0].clientHeight;
  setpadding = showDataHeight - 555;

  $(".showData").css("margin-top",setpadding);
 
</script>